#menuContainer{
   background-color: #1a1818;
   overflow: hidden;
   height: 100%;
   width: 100%;
}

.active{
   color: #eeecea!important;
}

#circle {
   background: none;
   width: 2.5vw;
   height: 2.5vw;
   border-radius: 50%;
   border: 2px solid #474343;
   position: absolute;
   top: 5%;
   left: 2.5%;
   z-index: 1;
}

#circle:hover{
   transition:color 250ms ease;
   color: #eeecea;
}

.bottom {
   z-index: 0;
}

#informationContainer{
   z-index: 1;
   float: right;
   position: absolute;
   top: 20%;
   left: 54%;
   max-width: 30%;
   margin-top: 2%;
   font-family: 'Quicksand', sans-serif;
}

.infoHover:hover{
   transition:color 500ms ease;
   color: #eeecea !important;
}

#informationContainer h2{
   color: #474343;
   font-size: 2vw;
   font-family: 'Playfair Display SC', serif;
   margin-top: 5%;
}

#informationContainer p{
   margin-top: 2.5%;
   color: #474343;
   font-size: 1.5vw;
}

.qoute {
   margin-top: 2.5%;
   color: #eeecea !important;
   font-size: 1.5vw;
}

#playlists {
   color: #474343;
   font-size: 4.1vw !important;
   line-height: 190%;
   margin-top: 1%;
    padding: 0;
    list-style-type: none;
    font-family: 'Playfair Display SC', serif;
    display:inline-block;
}

a:hover{
   transition:color 250ms ease;
   color: #eeecea;
}

#playListContainer{
   position: relative;
   top: 14.5%;
   left: 13.5%;
}

.example-appear {
   opacity: 0.01;
 }
 
 .example-appear.example-appear-active {
   opacity: 1;
   transition: opacity 0.5s ease-in;
 }
 
 .example-leave {
   opacity: 1;
   position:absolute !important;
 }
 
 .example-leave.example-leave-active {
   opacity: 0.01;
   transition: opacity 1500ms ease-in;
   position:absolute !important;
 }

 .infoContainer-appear {
   opacity: 0.01;
 }
 
 .infoContainer-appear.infoContainer-appear-active {
   opacity: 1;
   transition: opacity 1000ms ease-in;
 }
 
 .infoContainer-leave {
   opacity: 1;
   position:absolute;
 }
 
 .infoContainer-leave.infoContainer-leave-active {
   opacity: 0.01;
   transition: opacity 1000ms ease-in;
   position:absolute;
 }

 a {
   color: #474343;
   text-decoration: none; /* no underline */
 }